body {
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #7b68ee;
  font-weight: bold;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 1cm;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: grey;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -34px;
  right: 3px;
}
.overview {
  margin-bottom: 20px;
}
.main-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-image: linear-gradient(
    to right top,
    #e0ffff,
    #e9feff,
    #f3feff,
    #fbfeff,
    #ffffff
  );
  color: black;
}
.weather-rap {
  max-width: 800px;
  margin: 30px auto;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.week {
  font-size: 16px;
  margin-top: 1cm;
}

.timeforcast {
  font-size: 24px;
}
